@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Foldit:wght@100..900&display=swap");

:root {
  --primary: #131313;
  --secondary: #c9f31d;
  --white: #fff;
  --black: #070707;
  --light: #ffffff59;
  --light2: #b1b1b1;
  --dark: #1f1f1f;
  --border: #353535;
  --inter: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: var(--light2); 
  border-radius: 10px;
}
  ::-webkit-scrollbar-thumb {
  background: var(--secondary); 
    border-radius:10px;
}
* {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

body {
  background-color: var(--primary) !important;
  color: white !important;
  overflow-x: hidden;
}
@font-palette-values --my-palette {
  font-family: "Foldit";
  base-palette: 0; /* Index of the palette to modify */
  override-colors: 0 #c9f31d, 1 #c8f31d81;
}
.primary-bg {
  background-color: var(--primary) !important;
}

.clr-white {
  color: var(--white) !important;
}

.clr-light {
  color: var(--light2);
}

.clr-secondary {
  color: var(--secondary);
}
.logo-t {
  font-family: "Foldit", sans-serif;
  /* font-palette: --my-palette; */
  font-size: 40px !important;
  font-weight: 700;
  color: #c9f31d; /* Fallback color */
}
@supports (font-palette: --my-palette) {
  .logo-t {
    font-palette: --my-palette;
  }
}
.bg-grid {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.bg-grid span {
  width: 2px;
  height: 100%;
  display: block;
  background-color: #ffffff0d;
}

.secondary-heading {
  color: var(--light);
  font-family: "Inter", sans-serif;
  font-size: calc(
    16px + (30 - 16) * ((100vw - 320px) / (1920 - 320))
  ) !important;
}

.primary-heading {
  font-size: calc(
    30px + (50 - 30) * ((100vw - 320px) / (1920 - 320))
  ) !important;
  color: var(--secondary);
  font-weight: 700;
  line-height: normal;
}
.min-vh-90 {
  min-height: 90vh;
}

.heading {
  font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
  color: var(--white);
  font-weight: 500;
}

.para-sm {
  font-size: calc(12px + (15 - 12) * ((100vw - 320px) / (1920 - 320)));
  font-family: var(--inter);
}
.para {
  font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
}
.para-lg {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
}

.primary-btn {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  font-weight: 600 !important;
  border-radius: 10px !important;
  padding-inline: 20px !important;
  transition: 0.3s;
}

.primary-btn:hover {
  transition: 0.3s;
  /* transform: scale(1.05); */
  background-color: var(--black) !important;
  color: var(--white) !important;
}

.primary-btn-rounded {
  background-color: var(--secondary) !important;
  color: var(--primary) !important;
  font-weight: 600 !important;
  border-radius: 100% !important;
  transition: 0.3s;
  width: 40px;
  height: 40px;
}
.main-card {
  background-color: var(--dark) !important;
  border: 1px solid var(--border) !important;
  border-radius: 20px !important;
}
.banner-card {
  background-color: black !important;
  border-radius: 30px !important;
  padding: 30px;
}
.pointer {
  cursor: pointer;
}
.exp-grid {
  display: grid;
  justify-content: space-between;
  padding: 10px;
  grid-template-columns: auto auto auto;
}
.exp-grid div:hover .primary-btn-rounded-black i {
  color: var(--black) !important;
  transition: 0.5s;
}
.exp-grid div:hover .primary-btn-rounded-black,
.primary-btn-rounded-black:hover {
  background-color: var(--secondary) !important;
  color: var(--black) !important;
  transition: 0.5s;
}

.exp-vr {
  width: 1px !important;
  background-color: var(--light);
  height: 100%;
  opacity: 0.5;
}
.primary-btn-rounded-black i {
  transform: rotate(45deg);
  transition: 0.5s;
  color: var(--light) !important;
}
.primary-btn-rounded-black {
  background-color: var(--black) !important;
  color: var(--white) !important;
  font-weight: 600 !important;
  border-radius: 100% !important;
  transition: 0.5s;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.primary-btn-rounded-black:hover,
.primary-btn-rounded-black:hover i {
  color: var(--black) !important;
}
.navbar {
  position: relative;
  z-index: 1020;
  transition: background-color 0.5s ease, transform 0.5s ease;
}
.sticky-soon {
  transform: translateY(-100%); /* Initially move it up */
}

.sticky-active {
  transition: background-color 0.5s ease, transform 0.5s ease;
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
  background-color: var(--dark);
  transform: translateY(-1); /* Slide it down */
  z-index: 1020;
}

.banner-img::after {
  position: absolute;
  content: "";
  width: 300px;
  height: 300px;
  background-color: var(--secondary);
  border-radius: 100%;
  left: 51px;
  z-index: -9;
  top: 25px;
  animation: leftRight 10s infinite;
}

.user {
  position: absolute;
  left: 0;
}
.banner-img {
  width: 500px;
  height: 500px;
}

.banner-img img {
  object-fit: contain;
  object-position: bottom;
  border-radius: 100%;
  width: 100%;

  height: 100%;
}
/* .banner-img img:nth-child(1) {
  animation: rotate360 10s infinite;
} */
.navbar ul li a {
  color: var(--white) !important;
  font-size: 16px;
  font-weight: 500;
  padding-inline: 15px !important;
}

.aboutme-content {
  position: relative;
}
.aboutme-content::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  right: 13px;
  background-color: var(--secondary);
  top: 0;
}
.aboutme-content::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  right: 0;
  background-color: var(--secondary);
  top: 19px;
}

.aboutme-content ul li {
  list-style-image: url("/assets/images/check-mark.svg");
  margin-block: 10px;
}
.aboutimg {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--white);
  color: var(--primary);
  width: fit-content;
  border-radius: 30px;
  padding: 8px 18px;
  left: -20%;
  font-family: var(--inter);
  bottom: 30%;
}
.animate-up-down {
  animation: upDown 3s infinite;
}
.resume-icon {
  width: 200px !important;
  height: 200px !important;
  display: flex !important;
  align-items: center;
  border-radius: 100% !important;
}
.skills-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 250px;
  width: 100%;
  background-color: var(--secondary);
  left: 0;
  opacity: 0.1;
  filter: blur(150px);
  animation: upDown2 7s infinite;
}
.skills-card {
  transition: 0.3s;
}
.skills-card:hover {
  border: 1px solid var(--secondary) !important;
  transition: 0.3s;
}
.skills-card:hover .card-footer {
  transition: background-color 0.3s;
  background-color: var(--secondary) !important;
  color: var(--black) !important;
}
.skills-card .card-footer {
  color: var(--light2);
}
@keyframes upDown2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(50px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(50px);
  }
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateAroundParent {
  0% {
    transform: translate(-150%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-150%, -50%) rotate(360deg);
  }
}
@media (min-width: 541px) {
  .aboutme-content ul {
    display: grid;
    grid-template-columns: auto auto;
    margin-block: 30px;
  }
}

@media (min-width: 1200px) {
  .w-xl-100 {
    width: 100%;
    border-radius: 100%;
  }
}
@media (min-width: 992px) {
  .exp-grid {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .banner-img {
    width: 400px;
    height: 400px;
  }
  .banner-img::after {
    width: 150px;
    height: 150px;
  }
  .resume-icon {
    width: 150px !important;
    height: 150px !important;
  }
  .exp-grid {
    grid-template-columns: auto;
  }
  .exp-vr {
    display: none;
  }
  .aboutimg {
    left: -5%;
    bottom: 70%;
  }
}

@media (max-width: 600px) {
  .banner-img {
    width: 300px;
    height: 300px;
  }
  .banner-img::after {
    width: 100px;
    height: 100px;
  }
}